*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: greenyellow;
    width: 100%;
}

section{
    padding: 0px 50px;
    width: 100%;
}

.card{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
    border-radius: 2px;
    background-color: white;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.4);
    overflow: hidden;
}

.cardTitle{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardName{
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardName > span{
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 5px;
}

.cardRoll{
    font-size: 1.3rem;
    padding-left: 20px;
    padding-bottom: 10px;
}

.tableContainer{
    width: 100%;
    margin-top: 20px;
    border: 5px solid rgb(0,0,90);
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: -5px 10px 5px rgba(0,0,0,0.4), inset -5px 10px 5px rgba(0,0,0,0.4);
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
    border-right: 1px solid rgba(255,255,255,0.7);
}

.tableRow{
    width: 100%;
}

.tableRow:nth-child(odd){
    background-color: rgba(0,0,0,0.2);
}

.tableRow:nth-child(odd):hover{
    background-color: rgba(0,0,0,0.3);
}

.tableRow:nth-child(even):hover{
    background-color: rgba(0,0,0,0.1);
}

.tableCol1{
    width: 0.1;
    text-align: center;
}

.tableCol4, .tableCol5{
    width: 0.1;
    text-align: center;
}

.tableCol2{
    width: 0.25;
    text-align: left;
}

.tableCol3{
    width: 0.45;
    text-align: left;
}

.tableCol1, .tableCol2, .tableCol3, .tableCol4, .tableCol5{
    padding-top: 10px;
    padding-bottom: 10px;
}