header{
    background-color: #7DD9E8;
}

.searchbar-body{
    background-color: #CAEFF7;
}

.searchbutton{
    outline: none;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.searchbutton-body{
    background-color: #274F57;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.username{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.userlinks .link{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.userlinks .separator{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: black;
    margin: 0px 7px;
}

 /* Css for Navbar  */
nav{
    background-color: #F5F5F5;
}

.navlinks a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.container-block{
    background-color: #F5F5F5;
}

/* CSS for Left SIdenav */
.sidenav-left{
    background-color: #F5F5F5;
}

.sidenav-right h2, .sidenav-left h2{
    background-color: #2FC1DA;
    color: white;
}


/* CSS for Right SIdenav */
.sidenav-right{
    background-color: #F5F5F5;
}

.sidenavlinks{
    width: 100%;
    background-color: #F5F5F5;
}

.sidenavlinks .link{
    padding-top: 15px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 11px;
    background-color: #F5F5F5;
}

.sidenavlinks .link:hover{
    background-color: white;
}

.sidenavlinks a{
    display: block;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

/* CSS for Footer */
footer{
    background-color: #727272;
    padding: 16px 0px;
    color: white;
    font-size: 12px;
}

.footerlinks .link{
    margin-left: 17px;
    float: left;
    list-style: disc;
}

.footerlinks .link:first-child{
    list-style: none;
}

.footerlinks a{
    color: white;
}