.carousel-container{
    width: 100%;
    height: 300px;
    position: relative;
}

.carousel-image-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carausel-image{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carausel-indicator-list{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.carausel-indicator{
    display: inline-block;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    transition-duration: 0.1s;
    border: 2px solid rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 0px 10px;
}

.carausel-indicator:hover{
    background-color: rgba(0,0,0,0.5);
}

.active-img{
    background-color: rgba(0,0,0,0.7);
}

.carausel-control-right, .carausel-control-left{
    position: absolute;
    height: 100%;
    width: 10%;
    min-width: 60px;
    top: 0;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carausel-control-left{
    left: 0px;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.carausel-control-right{
    right: 0px;
    justify-content: end;
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0));
}