*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    width: 100%;
}

section{
    padding: 30px 50px;
    width: 100%;
}

.introduction{
    background-color: #c7423f;
}

.cardTitle{
    display: inline-block;
    background-color: white;
    color: greenyellow;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 1px;
}

.cardName{
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
}

span{
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 20px;
}

.cardRoll{
    font-size: 1.3rem;
    padding-bottom: 10px;
    color: white;
}

.tableContainer{
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    padding-top: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
    border-right: 1px solid rgba(255,255,255,0.7);
}

.tableRow{
    width: 100%;
}

.tableRow:nth-child(odd){
    background-color: rgba(0,0,0,0.2);
}

.tableRow:nth-child(odd):hover{
    background-color: rgba(0,0,0,0.3);
}

.tableRow:nth-child(even):hover{
    background-color: rgba(0,0,0,0.1);
}

.tableCol1{
    width: 0.1%;
    text-align: center;
}

.tableCol4, .tableCol5{
    width: 0.1%;
    text-align: center;
}

.tableCol2{
    width: 0.25%;
    text-align: left;
}

.tableCol3{
    width: 0.45%;
    text-align: left;
}

.tableCol1, .tableCol2, .tableCol3, .tableCol4, .tableCol5{
    padding-top: 10px;
    padding-bottom: 10px;
}