header{
    padding: 12px 0px;
}


h1{
    font-size: 26px;
    margin-bottom: 12px;
}

header .container{
    position: relative;
}
    
.searchbar-container{
    height: 20px;
    width: 340px;
}

.searchbar{
    width: 276px;
    height: 20px;
    float: left;
}

.searchbar-leftborder{
    float: left;
    width: 6px;
    height: 20px;
}

.searchbar-rightborder{
    float: left;
    width: 6px;
}

.searchbar-leftborder .top, .searchbar-leftborder .bottom,
.searchbar-rightborder .top, .searchbar-rightborder .bottom{
    height: 6px;
    width: 6px;
    background-image: url("../images/Header-Searchbar-Corner.png");
    background-size: contain;
}

.searchbar-leftborder .middle, .searchbar-rightborder .middle{
    height: 8px;
    width: 6px;
    background-color: #CAEFF7;
}

.searchbar-body{
    float: left;
    width: 264px;
    height: 20px;
}

.searchbar-leftborder .bottom{
    transform: rotate(-90deg);
}

.searchbar-rightborder .top{
    transform: rotate(90deg);
}

.searchbar-rightborder .bottom{
    transform: rotate(180deg);
}

.search-input{
    float: left;
    padding-top: 4px;
    color: #869494;
    background-color: transparent;
    border: none;
    font-size: 10px;
    width: 234px;
    outline: 0px;
}

.magnifying-glass{
    cursor: pointer;
    float: right;
    height: 14px;
    width: 13px;
    margin-top: 3px;
}

.searchbar .separator{
    float: right;
    height: 20px;
    width: 1px;
    background-color: #7DD9E8;
    margin: 0 2px;
}

.cross{
    cursor: pointer;
    float: right;
    height: 14px;
    width: 12px;
    margin-top: 3px;
}

.searchbutton{
    width: 53px;
    height: 20px;
    float: right;
}

.searchbutton-leftborder{
    float: left;
    width: 6px;
    height: 20px;
}

.searchbutton-rightborder{
    float: left;
    width: 6px;
}

.searchbutton-leftborder .top, .searchbutton-leftborder .bottom,
.searchbutton-rightborder .top, .searchbutton-rightborder .bottom{
    height: 6px;
    width: 6px;
    background-image: url("../images/Header-Searchbutton-Corner.png");
    background-size: contain;
}

.searchbutton-leftborder .middle, .searchbutton-rightborder .middle{
    height: 8px;
    width: 6px;
    background-color: #274F57;
}

.searchbutton-body{
    float: left;
    width: auto;
    height: 20px;
}

.searchbutton-leftborder .bottom{
    transform: rotate(-90deg);
}

.searchbutton-rightborder .top{
    transform: rotate(90deg);
}

.searchbutton-rightborder .bottom{
    transform: rotate(180deg);
}

.sidenav-left, .sidenav-right{
    display: none;
}


.entries-card{
    width: 518px;
    display: inline-block;
    border-bottom: 2px solid #F5F5F5;
    padding: 15px 0px;
}

.entries-card-image{
    height: 70px;
    width: 70px;
    float: left;
    margin-right: 10px;
}

.entries-card-image img{
    height: 100%;
    width: 100%;
}

.entries-card-body{
    float: left;
    font-size: 12px;
}

.entries-card-title{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.entries-card-details{
    margin-top: 5px;
}

.nav-hamburger{
    display: none;
}

.card-status-new{
    color: #2FC1DA;
    font-weight: bold;
}

.card-status-danger{
    color: #D3401E;
    font-weight: bold;
}

.card-author-name{
    color: #2FC1DA;
}

.card-date{
    border-left: 1px solid black;
    padding-left:5px;
    margin-left: 4px;
}

.card-status-subscribed{
    color: #6E971F;
    border-left: 1px solid black;
    padding-left:5px;
    margin-left: 4px;
}

.entries-card-collection{
    margin-top: 5px;
}

.entries-collection-name{
    color: #2FC1DA;
}


.entries-nav{
    height: 67px;
    border-bottom: 2px solid #2FC1DA;
}

.entries-nav-all{
    float: left;
    width: 258px;
}

.entries-nav-border{
    float: left;
    height: 65px;
    width: 10px;
}

.entries-nav-border .top{
    height: 14px;
    width: 10px;
    background-image: url("../images/Entities-Main-Navigation-Border.png");
}

.entries-nav-border .bottom{
    background-color: #F5F5F5;
    height: 51px;
    width: 10px;
}

.entries-nav-border-fit{
    float: left;
    background-color: #F5F5F5;
    height: 65px;
    width: 10px;
}

.entries-nav-body{
    float: left;
    width: 237px;
    height: 65px;
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 13px;
    position: relative;
}

.entities-subnav-right{
    height: 28px;
    width: 114px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.entities-subnav-left{
    height: 28px;
    width: 114px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.entries-subnav-left-border, .entries-subnav-right-border{
    float: left;
    height: 28px;
    width: 13px;
}

.entries-subnav-left-border .top{
    height: 13px;
    width: 13px;
    background-image: url("../images/Entities-Sub-Navigation-Border-Grey.png");
}

.entries-subnav-right-border .top{
    height: 13px;
    width: 13px;
    transform: rotate(90deg);
    background-image: url("../images/Entities-Sub-Navigation-Border-Grey.png");
}

.entries-subnav-left-border .bottom, .entries-subnav-right-border .bottom{
    background-color: #DDDDDD;
    height: 15px;
    width: 13px;
}

.entries-subnav-body{
    font-size: 10px;
    padding-top: 8px;
    float: left;
    height: 28px;
    width: 88px;
    background-color: #DDDDDD;
}

.entries-nav-subscribed{
    float: right;
    width: 258px;
}

.entries-nav-subscribed *{
    float: right;
}

.entries-nav-subscribed .entries-nav-border .top{
    transform: rotateY(180deg);
}

.entries-nav-subscribed .entries-subnav-right-border .top{
    transform: rotate(0deg);
}

.entries-nav-subscribed .entries-subnav-left-border .top{
    transform: rotate(90deg);
}

.entities-subnav-right:hover .entries-subnav-body, .entities-subnav-left:hover .entries-subnav-body{
    background-color: #2FC1DA;
    color: white;
}

.entities-subnav-right:hover .bottom, .entities-subnav-left:hover .bottom{
    background-color: #2FC1DA;
}

.entities-subnav-right:hover .top, .entities-subnav-left:hover .top{
    background-image: url("../images/Entities-Sub-Navigation-Border-Blue.png");
}





@media screen and (max-width: 600px){
    .container{
        margin: auto;
        width: 450px;
    }

    .logo-container{
        height: 29px;
        width: 111px;
    }

    .logo{
        height: 100%;
        width: 100%;
    }

    .searchbar-container{
        margin-top: 10px;
    }

    .searchbar-container{
        float: none;
    }

    .userdetail-container{
        width: 40%;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .userdetail-container .username{
        font-size: 12px;
        margin-bottom: 2px;
        text-align: right;
    }

    .userdetail-container .userlinks{
        font-size: 10px;
        text-align: right;
    }

    nav{
        padding: 10px 0px;
        margin-bottom: 20px;
    }
    
    .navlinks{
        width: 100%;
    }

    .navlinks .link{
        display: inline-block;
        width: 24%;
        text-align: center;
    }

    .nav-notifications{
        float: right;
    }

    .nav-notifications .link{
        font-size: 10px;
        float: right;
        padding-left: 20px;
        padding-top: 10px;
    }

    .nav-notifications .link img{
        transform: translateY(5px);
    }

    .nav-notifications .link-text-detail{
        display: none;
    }

    .nav-hamburger{
        display: block;
        padding-top: 15px;
        cursor: pointer;
    }

    .nav-hamburger img{
        height: 20px;
    }

    .pagebody{
        margin-bottom: 20px;
    }

    .entries-card{
        width: 450px;
    }

    .entries-card-body{
        width: 370px;
    }

    .entries-nav-all{
        width: 49.5%;
        float: left;
        position: relative;
        height: 100%;
    }

    .entries-nav-border{
        float:none;
        z-index: 1;
        position: absolute;
    }

    .entries-nav-border-fit{
        display: none;
    }

    .entries-nav-body{
        float: none;
        height: 100%;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        position: relative;
    }

    .entries-subnav-body{
        height: 100%;
        width: 100%;
        padding-top: 13px;
    }

    .entities-subnav-right{
        width: 43%;
        left: 10px;
    }

    .entries-subnav-left-border{
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .entries-subnav-right-border{
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .entities-subnav-left{
        width: 40%;
        right: 10px;
    }

    .entries-nav-subscribed{
        width: 49.5%;
        float: right;
        position: relative;
        height: 100%;
    }

    .entries-nav-subscribed .entries-nav-border{
        right: 0px;
    }

    .entries-nav-subscribed .entries-subnav-right-border, .entries-nav-subscribed .entries-subnav-left-border{
        transform: rotateY(180deg);
    }

    .entries-nav-body .bottom{
        display: none;
    }



    footer .container{
        position: relative;
    }

    .copyright{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

@media screen and (min-width: 600px){
    .container{
        width: 90%;
        margin: auto;
    }

    .logo-container{
        height: 29px;
        width: 111px;
    }

    .logo{
        height: 100%;
        width: 100%;
    }

    .searchbar-container{
        margin-top: 10px;
    }

    .searchbar-container{
        float: none;
    }

    .userdetail-container{
        width: 40%;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .userdetail-container .username{
        font-size: 12px;
        margin-bottom: 2px;
        text-align: right;
    }

    .userdetail-container .userlinks{
        font-size: 10px;
        text-align: right;
    }

    nav{
        padding: 10px 0px;
        margin-bottom: 20px;
    }
    
    .navlinks{
        width: 100%;
    }

    .navlinks .link{
        display: inline-block;
        width: 24%;
        text-align: center;
    }

    .nav-notifications{
        padding-top: 10px;
        width: 100%;
    }

    .nav-notifications .link{
        display: inline-block;
        width: 49%;
        text-align: center;
        font-size: 12px;
    }

    .nav-notifications .link a{
        color: grey;
    }


    .nav-notifications .link img{
        transform: translateY(5px);
    }



    footer .container{
        position: relative;
    }

    .copyright{
        position: absolute;
        top: 0px;
        right: 0px;
    }

}


@media screen and (min-width: 960px){

    /* The container that contains the header, navbar, mainbody and footer */
    .container{
        width: 938px;
        margin: auto;
    }


    /* CSS for all Header Elements */
    header{
        width: 100%;
        height: 85px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo-container{
        height: 53px;
        width: 223px;
        margin-right: 24px;
        float: left;
    }

    .logo{
        width: 100%;
        height: 100%;
    }

    .searchbar-container{
        margin-top: 23px;   
        float: left;
    }

    .userdetail-container{
        float: right;
        width: 200px;
        margin: 5px 0px;
    }

    .username{
        float: right;
    }

    .userlinks{
        float: right;
    }


    /* Css for Navbar  */
    nav{
        height: 40px;
        margin-bottom: 30px;
        padding: 0px;
    }

    nav .container{
        padding: 12px 0px;
        padding-left: 9px;
    }

    .navlinks{
        float: left;
        width: auto;
    }

    .navlinks > .link{
        float: left;
        padding-right: 31px;
        width: auto;
    }

    .nav-notifications{
        float: right;
        width: auto;
        padding: 0px;
    }

    .nav-notifications .link{
        width: auto;
        float: right;
        font-size: 12px;
    }

    .nav-notifications .link:first-child{
        padding-left: 30px;
    }

    .nav-notifications .link-text{  
        position: relative;
        top: -5px;
        padding: 5px 0px;
        padding-left: 7px;
        color: grey;
    }

    .nav-notifications img{
        padding-bottom: 5px;
    }

    .link:hover .link-text{
        color: black;
    }

    /* Main Body CSS */
    .pagebody{
        margin-bottom: 32px;
    }
    .pagebody .container{
        height: auto;
    }

    .container-block{
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    /* All CSS for Right side nav */
    .sidenav-left{
        display: block;
        float: left;
        width: 194px;
        height: 100%;
    }

    .sidenav-left h2, .sidenav-right h2{
        height: 42px;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 15px;
    }

    .sidenav-left a{
        width: 80%;
    }

    .sidenavlinks img, .sidenavlinks .sidenav-burger{
        float: right;
    }

    .sidenavlinks .sidenav-burger{
        height: 11px;
        width: 18px;
        background-image: url("../images/Sidenav-buger-grey.png");
    }

    .link:hover .sidenav-burger{
        background-image: url("../images/Sidenav-buger-white.png");
    }

    /* All CSS for Right side nav */
    .sidenav-right{
        display: block;
        float: right;
        width: 176px;
        height: 100%;
    }

    /* CSS for Entries */
    .entries{
        float: left;
        width: 568px;
        background-color: white;
        padding: 0px 26px;
    }

    


    /* CSS for Footer */
    footer{
        height: 45px;
    }

    .footerlinks{
        float: left;
    }


}